@import './mixin.scss';

.aboutMeContainer {
  background-color: var(--black-russian);
  display: flex;
  justify-content: space-between;
  padding: 14.125rem 10%;
}

.aboutMeLeftSection {
  color: #fff;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;

  .aboutMeContent {
    margin-top: 1.625rem;
    width: 34.25rem;

    .buttonSection {
      display: flex;
    }

    .downloadCVButton {
      margin-right: 1.5rem;
    }

    >p {
      line-height: 1.5625rem;

      @include for-lg-screen {
        width: 24.25rem;
      }
    }
  }
}

.aboutMeRightSection {
  >img {
    width: 100%;
  }
}