@import './mixin.scss';

.landingElement {
  width: 100%;
}

.landingContainer {
  display: flex;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: var(--black-russian);

  @include for-desktop {
    background: linear-gradient(90deg, #06082E 54.84%, rgba(6, 8, 46, 0.87541) 60.85%, rgba(65, 65, 65, 0.723916) 104.02%, rgba(6, 8, 46, 0.2) 104.03%);

  }
}

.navSelector {
  position: absolute;
  display: flex;
  z-index: 3;
  color: #fff;
  width: 100%;
  justify-content: center;
  margin-top: 4rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 1.25rem;
  color: #FFFCFC;
  display: none;

  @include for-desktop {
    display: flex;
  }

  >h5 {
    margin: 0 1.065rem;
    font-weight: normal;
    cursor: pointer;
  }
}

.heroContent {
  display: flex;
  justify-content: space-between;

  .heroText {
    display: flex;
    flex-direction: column;
    z-index: 2;
    font-weight: 400;
    font-size: 2rem;
    color: #FFFFFF;

    @include for-mobile {
      height: 100vh;
      justify-content: center;
      align-items: center;
    }

    >h1 {
      font-size: 2.1rem;
      font-weight: 500;
      justify-content: center;
      align-items: center;
      margin: .25rem 0;

      @include for-desktop {
        align-items: inherit;
        margin: 0;
        font-size: 3rem;
      }
    }

    >p {
      @include for-mobile {
        text-align: center;
        width: 75%;
      }
    }

    @include for-desktop {
      line-height: 57px;
      font-size: 3rem;
      font-weight: 500;
      justify-content: flex-end;
      margin: 0 0 4rem 4rem;

    }

    @include for-xl-screen {
      margin: 0 0 5rem 5rem;
    }


    .designation {
      color: var(--radical-red);

      @include for-mobile {
        margin-bottom: 0.625rem;
      }
    }

  }

  .heroImage {
    height: 100vh;
    width: 50%;
    object-fit: cover;
    display: none;

    @include for-desktop {
      display: inherit;
    }
  }
}