@media only screen and (max-width:1200px) {
    .main-nav {
    margin-right: 27.5%}
.hero-textbox {
    transform: translate(-39.7%, -90%);
}
.about-me {
    height: 90vh;
}
.about-me .write-up {
    font-size: 90%;
    letter-spacing: .4px;
}
.social-links {
    margin-right: 38.5%}
.write-up p {
    margin-bottom: 16px;
}
.project-card {
    margin-left: 5px;
    margin-right: 5px;
}
}@media only screen and (max-width:1023px) {
    .main-nav {
    margin-right: 26%}
.about-me {
    height: 92vh;
}
.hero-textbox {
    transform: translate(-40%, -90%);
}
h1 {
    font-size: 490%}
h3 {
    font-size: 105%}
h2 {
    font-size: 170%}
h2:after {
    width: 100px;
    margin-top: 30px;
}
.social-links {
    margin-right: 40%;
    margin-top: 22px;
}
.social-links li a {
    font-size: 160%}
.innov {
    margin-left: 5.5%}
.nano {
    margin-left: 2%}
.project-content {
    font-size: 90%;
    padding-left: 2%;
    padding-right: 2%}
.project-image img {
    width: 350px;
}
}@media only screen and (max-width:767px) {
    .main-nav {
    margin-right: 21%}
.hero-textbox {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-29.7%, -90%);
}
.hero-textbox h3 {
    transform: translate(-38%, 40%);
}
h1 {
    font-size: 350%}
h2 {
    font-size: 150%}
h3 {
    font-size: 90%}
.social-links {
    margin-right: 51%;
    margin-top: 22px;
}
.social-links li a {
    font-size: 130%}
.about-me {
    height: 96vh;
}
.about-me .write-up {
    font-size: 75%;
    letter-spacing: .4px;
}
.exp-box {
    font-size: 80%}
.project-content {
    font-size: 90%;
    padding-left: 10%;
    padding-right: 2%}
.odd .project-content {
    padding-left: 2%}
.project-image img {
    width: 250px;
}
.odd .project-image {
    right: 5%}
.odd .project-card a:link, .odd .project-card a:visited {
    padding-bottom: 2px;
    margin-top: 0;
    margin-bottom: 3px;
    margin-left: 3.2%}
.main-nav {
    display: none;
    float: left;
    margin-top: 40px;
    margin-left: 40px;
}
.mobile-nav-icon {
    display: inline-block;
}
.nullify {
    display:  none;
}
.main-nav-icon {
    display:  none;
}
.main-nav li {
    display: block;
}
.main-nav li a:link, .main-nav li a:visited {
    display: block;
    border: 0;
    padding: 10px 0;
    font-size: 90%}
.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
    margin-right: 20px;
    margin-bottom: 20px;
}
.sticky .main-nav li a:link, .sticky .main-nav li a:visited {
    display: block;
    border: 0;
    padding: 10px 0;
    font-size: 90%}
.sticky .mobile-nav-icon a i {
    font-size: 200%;
    color: #fff;
    margin-right: 20px;
    margin-top: 20px;
}
}@media only screen and (max-width:481px) {
    h1 {
    font-size: 180%}
.main-nav {
    display: none;
}
.hero-textbox {
    transform: translate(-15.2%, -90%);
}
.hero-textbox h3 {
    transform: translate(-49.1%, 40%);
}
h2 {
    font-size: 115%}
h2:nth-child(2) {
    font-size: 100%}
h3 {
    font-size: 70%}
.social-links {
    margin-right: 58%;
    margin-top: 33px;
}
.social-links li a {
    font-size: 100%}
.about-me {
    height: 100vh;
}
.about-me .write-up {
    padding: 30px;
    font-size: 77%;
    letter-spacing: .3px;
    word-spacing: 1px;
    line-height: 26px;
    text-align: center;
}
.innov, .nano {
    margin-left: 0;
}
.exp-box {
    font-size: 80%;
    padding: 30px;
}
.exp-duration {
    float: right;
    font-weight: 500;
    font-size: 100%;
    margin-top: 3px;
}
.project-image img {
    width: 80%;
    margin-left: 10%}
.project-content {
    font-size: 80%;
    padding-left: 5%;
    padding-right: 2%}
.project-content h3 {
    font-size: 120%}
}